@import "tailwindcss";

@media print {

    button {
        display: none;
    }

    nav {
        display: none;
    }

    header {
        display: none;
    }

    .no-print {
        display: none !important;
    }
}